#map 
{ 
height:420px;
width:95%; 
margin-left:15px;
margin-top:5px;
position:relative;
top:-40px;
}


#user{
	margin-top:10px;
}

#scroll{
margin-top:15px;
margin-right:20px;
overflow-y:scroll; 
overflow-x:scroll; 
height:200px !important;
width:150px !important;
}
body{
height:100%;
}

		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
			width:170px;
			
		}
		


		.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
		}
		.legend i {
			width: 18px;
			height: 3px;
			float: left;
			
		}
		#dash{
			width: 18px;
			height: 3px;
			float: left;
			margin-right: 8px;
			margin-top: 8px;
			opacity: 0.7;
			border-style:dotted;
			border-color:black;
			border-width:3px;
			
		}
		#titre{
			font-weight:bold;
		}
		#titre_l{
			margin-left: 20px;
			font-weight:bold;
			font-size:18px;
			text-align:center;
			
		}

		.option{
			position:relative;
			left:300px;
			top:-110px;
			
			
		}
		#leg_qual{
			position:relative;
			top:-180px;
			width: 50 px;
			
			
		}
		#leg_diam{
			position:relative;
			top:-135px;
			
		}
		#text_option1{
			color:green;
		}
		#text_option2{
			color:red;
		}
		#im{
			position:relative;
			top:-50px;
		}
		.btn{
			position:relative;
			left:85%;
			top:-30px;
			
		}
		#c{
			text-align:center;
			position:relative;
			top:-190px;
			
		}
		.affichage{
		position:relative;
		top:-130px;	
		left:10px;
			
		}
		#che_d{
		position:relative;
		top:-130px;	
			
		}
		i.barrel{
		position: relative;
		left: 20px;
		margin-right: 8px;
		margin-top: 8px;
				
		}
		input.cb{
		position:relative;
		right: 22px;}
		
		span.glyphicon
		{	
		cursor : pointer;
		position:relative;
		right: 8px
		
		}
		.l_text{
			position:relative;
		right:-4px;
		top:-5px;
		}
		.back_leg{
			position:relative;
			top: 8px
		}
		
		